body {
   margin: 0;
   padding: 0;

   font-family: "Cuprum", Arial, sans-serif;
   font-size: 17px;
   line-height: 17px;
}

a {
    text-decoration: none;
}

ul {
    list-style: none;
}

.visually-hidden {
    position: absolute;
    clip: rect(0 0 0 0);
    width: 1px;
    height: 1px;
    margin: -1px;
  }

/*Стилизация блока header*/

.header-search,
.header-user-interface {
    line-height: 18px;
}

.user-menu, 
.header-menu {
    background-color:#32425c;
}

.header-info-login {
    background-color: #f3f7f8;
}

header a {
    color:#ffffff;
}

.header-search input{
    color:#ffffff;
}

#search:focus {
    background-color: #ffffff;
    color:#000000;
}

.bookmarks:active, 
.cart:active {
    background-color: #161d29;
}

.catalog {
    background-color: #ee3643;
}

.order {
    background-color: #63a63e;
}

.order:hover {
    background-color: #5fbb2d;
}

.order:active {
    background-color: #518534;
}

.header-about, 
.number {
    color: #ee3643;
}

.header-about {
    font-size: 16px;
    line-height: 23px;
    font-style: italic;
}

.number {
    font-size: 21px;
    line-height: 21px;
    border: 3px solid #ffffff;
}

.adress {
    font-size: 14px;
    line-height: 24px;
    color: #32425c;
}

.login-link,
.reg-link {
    font-size: 21px;
    line-height: 21px;
    color: #000000;
    background-color: #ffffff;
}

.login-link:hover,
.reg-link:hover {
    color: #ee3643;
}

.login-link:active,
.reg-link:active {
    color: #cacaca;
}

.header-info-login {
    background-color: #ffffff;
}

.user-name {
    font-size: 21px;
    line-height: 21px;
    color: #000000;
}

.user-name:hover {
    color: #000000;
}

.user-name:active {
    color: #cacaca;
}

.user-icon, 
.exit-icon {
    fill: #c5c5c5;
}

.user-icon:hover, 
.exit-icon:hover {
    fill: #32425c;
}

.user-icon:active, 
.exit-icon:active {
    fill: #c5c5c5;
}

.user-info a {
    font-size: 16px;
    line-height: 18px;
    color: #32425c;
    text-decoration: underline;
}

.user-info a:hover {
    color: #ee3643;
}

.user-info a:active {
    color: #c5cad0;
}

.header-search input[type="search"] {
    background-color:#293449;
    border: none;
}

.search-icon, 
.bookmark-icon, 
.cart-icon {
    fill:#ffffff;
    opacity: 0.3;
}

.search-icon:hover, 
.bookmark-icon:hover, 
.cart-icon:hover {
    fill:#ffffff;
    opacity: 1;
}

.phone-icon, 
.login-icon {
    fill: #b7bfc8;
}

.login-icon {
    opacity: 0.3;
}
 
.login-icon:hover {
    fill: #32425c;
    opacity: 1;
}

.login-icon:active {
    opacity: 0.3;
}

.header-menu {
    box-shadow: inset 0 -3px #293449;
}

.main-menu li:hover {
    background-color: #293449;
}

.main-menu a:active {
    background-color: #293449;
    color: #a8abaf;
}



/*Стилизация main*/

main {
    background-color: #ffffff;
}

.all span {
    font-size: 24px;
    line-height: 30px;
    font-weight: bold;
    color: #ffffff;
}

.all a {
    font-size: 14px;
    line-height: 18px;
    color: #ffffff; 
}

.breadcrumbs {
    font-size: 13px;
    line-height: 18px;
    font-family: 'PT Sans', sans-serif;
    color: #000000;
}

.product-type {
    background-color: #f2f6f8;
}

.materials {
    background-color: #ffbf47;
}

.new {
    font-size: 16px;
    line-height: 18px;
    color: #ffffff;
    background-color: #ff5357;
}

.instrument {
    background-color: #3bbce3;
}

.technic {
    background-color: #dc91d8;
}

.sales {
    background-color: #8ed78f;
}

.icon-1, 
.icon-2, 
.icon-3, 
.icon-4, 
.icon-5 {
    fill: #ffffff;
}

.delivery-main {
    background-color: #ffc047;
}

.all a {
    background-color: rgba(0,0,0,0.1);
}

.all a:hover {
    background-color: rgba(0,0,0,0.2);
}

.all a:active {
    background-color: rgba(0,0,0,0.3);
}

.main-slider b {
    font-size: 36px;
    line-height: 36px;
    font-weight: bold;
}

.main-slider p {
    font-size: 18px;
    line-height: 24px;
}

.more {
    font-size: 14px;
    line-height: 18px;
    color:#ffffff;
    background-color: #ee3643;
}

.more:hover {
    background-color: #ca2c37;
}

.more:active {
    background-color: #ba2732;
}

.pop-items,
.pop-dev {
    background-color: #f9f5f0;
}

.pop-items h2,
.pop-dev h2, 
.product-type {
    font-size: 30px;
    line-height: 30px;
    color: #32425c;
}

.popular-items {
    font-family: 'PT Sans', sans-serif;
    font-weight: bold;
}

.item {
    font-size: 18px;
    line-height: 20px;
    color: #000000;
}

.old-price {
    font-size: 17px;
    line-height: 18px;
    color: #aaaaaa;
    text-decoration: line-through;
}

.price {
    font-size: 17px;
    line-height: 18px;
    color: #ffffff;
    background-color: #ee3643;
}

.popular-items li,
.label li {
    border: 1px solid #eaeaea;
}

.label li:hover {
    box-shadow: 3px 3px 3px rgba(0,0,0,0.5); /*Надо поставить корретные значения*/
}

.services {
    background-color: #f4f8f9;
}

.services h2 {
    font-size: 30px;
    line-height: 30px;
    color: #000000;
}

.services p {
    font-size: 13px;
    line-height: 24px;
    font-family: 'PT Sans', sans-serif;
    color: #000000;
}

.services-menu a {
    font-size: 21px;
    line-height: 30px;
    font-weight: bold;
    color: #ffffff;
    background-color: #32425c;
}

.services-menu a:hover {
    background-color: #293449;
}

.services-menu a:active {
    background-color: #ffffff;
    color: #32425c;
}

.delivery h3 {
    font-size: 36px;
    line-height: 36px;
    color: #32425c;
}

.guarantee h3,
.credit h3 {
    font-size: 36px;
    line-height: 24px;
    color: #32425c;
}

.corp-about h2, 
.corp-contacts h2 {
    font-size: 30px;
    line-height: 30px;
    color: #000000;
}

.corp-about p, 
.corp-contacts p {
    font-size: 13px;
    line-height: 24px;
    color: #000000;
}

.tarnsport-list {
    font-size: 18px;
    line-height: 20px;
    color: #000000;
}



/*Стилизация футера*/

.footer-top {
    background-color: #32425c;
}

.footer-bottom {
    font-size: 16px;
    line-height: 18px;
    background-color: #293449;
}

.footer-info, 
.footer-nav, {
    font-size: 18px;
    line-height: 24px;
}

.footer-info, 
.footer-main-nav a,
.footer-socials p {
    color: #ffffff;
}

.main-footer a:hover, 
.footer-bottom a:hover {
    text-decoration: underline;
}

.footer-main-nav a:active {
    color: rgba(255,255,255,0.5);
}

.footer-list-nav a, 
.footer-socials a {
    color: #ffd180;
}

.footer-list-nav a:active {
    color: rgba(255,209,128,0.5);
}

.footer-bottom a:active {
    color: #ee3643;
}

.feedback-btn, 
.credit-btn {
    font-size: 14px;
    line-height: 18px;
    color:#ffffff;
    background-color: #ee3643;
    border: none;
}

.socials-btn li {
    width: 41px;
    height: 42px;
    background-color: #212a3a;
    border-radius: 50%;
}

.socials-btn li:hover, 
.socials-btn li:active {
    background-color: #ee3643;
}

.socials {
    fill: #ffffff;
}


