body {
   margin: 0;
   padding: 0;

   font-family: "Cuprum", Arial, sans-serif;
   font-size: 17px;
   line-height: 17px;
}

a {
    text-decoration: none;
}

ul {
    list-style: none;
    margin: 0;
    padding: 0px;
}

.visually-hidden {
    position: absolute;
    clip: rect(0 0 0 0);
    width: 1px;
    height: 1px;
    margin: -1px;
  }

/*Стилизация блока header*/

.header-search,
.header-user-interface {
    line-height: 18px;
}

.header-logo {
    background-color: #ee3643;
    box-shadow: 0px 5px #b52933;
}

.header-logo {
    font-size: 24px;
    line-height: 24px;
    color: #ffffff;
    text-transform: uppercase;
}

.user-menu, 
.header-menu {
    background-color:#32425c;
}

.header-logo:hover {
    background-color: #ca2c37;
}

.header-search:hover, 
.bookmarks:hover, 
.cart:hover {
    background-color: #212a3a;
}

.header-search:hover .search-icon, 
.bookmarks:hover .bookmark-icon, 
.cart:hover .cart-icon {
    fill: #ffffff;
    opacity: 1;
}

.cart-active {
    background-color: #ee3643;
}

.cart-active:hover .cart-icon {
    opacity: 1;
}

.cart-active:active {
    opacity: 0.3;
}

.order:hover {
    background-color: #5fbb2d;
}

.header-logo:active {
    background-color: #ba2732;
}

.bookmarks:active, 
.cart:active {
    opacity: 0.3;
}

#search {
    border: none;
    background-color: transparent;
    color: #ffffff;
}

.bookmarks:active .bookmark-icon, 
.cart:active .cart-icon {
    opacity:0.3;
}

.order:active {
    color:rgba(255,255,255,0.3);
    background-color: #518534;
}    

header a {
    color:#ffffff;
}

.catalog {
    background-color: #ee3643;
}

.order {
    background-color: #63a63e;
}

.header-about, 
.number {
    color: #ee3643;
}

.header-about {
    font-size: 16px;
    line-height: 23px;
    font-style: italic;
}

.number {
    font-size: 21px;
    line-height: 21px;
    border: 3px solid #ffffff;
}

.adress {
    font-size: 14px;
    line-height: 24px;
    color: #32425c;
}

.login-link,
.reg-link {
    font-size: 21px;
    line-height: 21px;
    color: #000000;
    background-color: #ffffff;
}

.login-link:hover,
.reg-link:hover {
    color: #ee3643;
}

.login-link:active,
.reg-link:active {
    color: #cacaca;
}

.user-name {
    font-size: 21px;
    line-height: 21px;
    color: #000000;
}

.user-icon, 
.exit-icon {
    fill: #c5c5c5;
}

.username-log:hover .user-icon,  
.username-log:hover .exit-icon {
    fill: #32425c;
}

.username-log:active .user-icon,  
.username-log:active .exit-icon {
    fill: #c5c5c5;
}

.username-log:active .user-name {
    color: #c5c5c5;
}

.user-info a {
    font-size: 16px;
    line-height: 18px;
    color: #32425c;
    text-decoration: underline;
}

.user-info a:hover {
    color: #ee3643;
}

.user-info a:active {
    color: #c5cad0;
}

.search-icon, 
.bookmark-icon, 
.cart-icon {
    fill:#ffffff;
    opacity: 0.3;
}

.phone-icon, 
.login-icon {
    fill: #c5c5c5;
}

.login-link:hover .login-icon {
    fill: #32425c;
    opacity: 1;
}

.login-link:active .login-icon {
    opacity: 0.3;
}

.header-menu {
    box-shadow: inset 0 -5px #293449;
}

.main-menu li:hover {
    background-color: #293449;
}

.main-menu a:active {
    background-color: #293449;
    color: #a8abaf;
}



/*Стилизация main*/

main {
    background-color: #ffffff;
}

.block span {
    font-size: 24px;
    line-height: 30px;
    font-weight: bold;
    color: #ffffff;
}

.block a {
    font-size: 14px;
    line-height: 18px;
    text-transform: uppercase;
    color: #ffffff; 
}

.breadcrumbs a {
    font-size: 13px;
    line-height: 18px;
    font-family: 'PT Sans', sans-serif;
    text-transform: uppercase;
    color: #000000;
}

.home-icon, 
.breadcrumbs-icon {
    fill: #c1c6ce;
}

form h3, 
.sort h3 {
    font-size: 13px;
    line-height: 18px;
    text-transform: uppercase;
    color: #000000;
}

form h3, 
.sort, 
.min-price, 
.max-price, 
.slide-price {
    background-color: #f7f3ec;
}

fieldset {
    border: none;
}

.filter-price label, 
.vendors label, 
.power-type label {
    font-size: 17px;
    line-height: 30px;
    font-weight: bold;
    font-family: 'PT Sans', sans-serif;
    text-transform: uppercase;
    color: #000000;
}

.power-type span {
    text-transform: uppercase;
}

.min-price, 
.max-price {
    font-size: 17px;
    line-height: 18px;
    font-family: 'PT Sans', sans-serif;
    color: #000000;
}

.sub-btn {
    font-size: 13px;
    line-height: 18px;
    font-family: 'PT Sans', sans-serif;
    text-transform: uppercase; 
    background: #ffffff;;
    border: 1px solid #e5e5e5;
    border-radius: 2px;
    width: 140px;
    height: 38px;
}

.sort-type a {
    font-size: 13px;
    line-height: 18px;
    text-transform: uppercase;
    color: #000000;
    text-decoration: underline #ee3643 dashed;
    opacity: 0.3;
}

.sort-type a:hover {
    color: #000000;
    opacity: 1;
    text-decoration: underline #ee3643;
}

.sort-active a{
    color: #ee3643;
    opacity: 1;
    text-decoration: none;

}

.icon-dir-up, 
.icon-dir-down {
    fill: #c5c5c5;
}

.icon-dir-up:hover, 
.icon-dir-down:hover {
    fill: #000000;
}

.activ-dir-icon .icon-dir-up{
    fill: #ee3643;
    opacity: 1;
}

.vendors span {
    font-size: 15px;
    line-height: 20px; 
    text-transform: uppercase; 
}
   

.materials {
    background-color: #ffbf47;
}

.new {
    font-size: 16px;
    line-height: 18px;
    color: #ffffff;
    background-color: #ff5357;
}

.instrument {
    background-color: #3bbce3;
}

.technic {
    background-color: #dc91d8;
}

.sales {
    background-color: #8ed78f;
}

.icon-1, 
.icon-2, 
.icon-3, 
.icon-4, 
.icon-5 {
    fill: #ffffff;
}

.delivery-main {
    background-color: #ffc047;
}

.block a {
    background-color: rgba(0,0,0,0.1);
}

.block a:hover {
    background-color: rgba(0,0,0,0.2);
}

.block a:active {
    background-color: rgba(0,0,0,0.3);
}

.main-slider b {
    font-size: 36px;
    line-height: 36px;
    font-weight: bold;
    color: #ffffff;
    text-transform: uppercase;
}

.main-slider span {
    font-size: 18px;
    line-height: 24px;
    color: #ffffff;
}

.more {
    font-size: 14px;
    line-height: 18px;
    text-transform: uppercase;
    color:#ffffff;
    background-color: #ee3643;
}

.more:hover {
    background-color: #ca2c37;
}

.more:active {
    background-color: #ba2732;
}

.pop-items,
.pop-dev {
    background-color: #f9f5f0;
}

.pop-items h2,
.pop-dev h2, 
.product-type {
    font-size: 30px;
    line-height: 30px;
    font-weight: inherit;
    color: #32425c;
    text-transform: uppercase;
}

.popular-items {
    font-family: 'PT Sans', sans-serif;
    font-weight: bold;
}

.item {
    font-size: 18px;
    line-height: 20px;
    color: #000000;
}

.old-price {
    font-size: 17px;
    line-height: 18px;
    color: #aaaaaa;
    text-decoration: line-through;
}

.price {
    font-size: 17px;
    line-height: 18px;
    color: #ffffff;
    background-color: #ee3643;
}

.popular-items li,
.label li {
    border: 1px solid #eaeaea;
}

.pagination-list a {
    font-size: 13px;
    line-height: 18px;
    text-transform: uppercase;
    font-family: 'PT Sans', sans-serif;
    color: #000000;
    background-color: #ffffff;
    border: 1px solid #e5e5e5;
    border-radius: 2px;
}

.pagination-list a:hover {
    border: 1px solid #bdc6ca;
}

.pagination-list a:active {
    border: 1px solid #ee3643;
}

.pagination-item .list-active {
    color:#ffffff;
    background-color: #ee3643;
}

.radio-btn-active, 
.radio-btn, 
.checked-on, 
.checked-off {
    fill: #c5c5c5;
}

.radio-btn-active:hover, 
.radio-btn:hover, 
.checked-on:hover, 
.checked-off:hover {
    fill: #b5b5b5;
}

.item-info h2 {
    font-size: 30px;
    line-height: 30px;
    color: #000000;
    font-weight: inherit;
    text-transform: uppercase;
}

.label li:hover {
    box-shadow: 3px 3px 3px rgba(0,0,0,0.5); /*Надо поставить корретные значения*/
}

.services {
    background-color: #f4f8f9;
}

.services h2 {
    font-size: 30px;
    line-height: 30px;
    text-transform: uppercase;
    color: #000000;
}

.services p {
    font-size: 13px;
    line-height: 24px;
    font-family: 'PT Sans', sans-serif;
    color: #000000;
}

.services-menu a {
    font-size: 21px;
    line-height: 30px;
    font-weight: bold;
    color: #ffffff;
    background-color: #32425c;
}

.services-menu a:hover {
    background-color: #293449;
}

.service-active a {
    background-color: #ffffff;
    color: #32425c;
}

.service-active a:hover {
    color: #ffffff;
    background-color: #293449;
}

.delivery h3 {
    font-size: 36px;
    line-height: 36px;
    color: #32425c;
    text-transform: uppercase;
}

.guarantee h3,
.credit h3 {
    font-size: 36px;
    line-height: 24px;
    color: #32425c;
    text-transform: uppercase;
}

.corp-about h2, 
.corp-contacts h2 {
    font-size: 30px;
    line-height: 30px;
    color: #000000;
}

.corp-about p, 
.corp-contacts p,
.item-info p {
    font-size: 13px;
    line-height: 24px;
    color: #000000;
}

.tarnsport-list {
    font-size: 18px;
    line-height: 20px;
    color: #000000;
}

.buy {
    background-color: #63a63e;
    border: none;
    border-radius: 3px;
    width: 135px;
    height: 38px;
    box-shadow: inset 0px -3px  #367315;
}

.buy span{
    font-size: 14px;
    line-height: 18px;
    color: #ffffff;
    text-transform: uppercase;
}

.buy:hover {
    background-color: #5fbb2d;
}

.buy:hover .cart-icon {
    fill: #ffffff;
    opacity: 1;
}

.buy:active  {
    background-color: #367315;
}

.buy:active .cart-icon {
    background-color: #367315;
    fill: #ffffff;
    opacity: 1;
}

.in-favorites {
    font-size: 14px;
    line-height: 18px;
    color: #32425c;
    background-color: #ffffff;
    text-transform: uppercase;
    border: 3px solid #63a63e;
    border-radius: 3px;
    width: 135px;
    height: 38px;
}

.in-favorites:hover {
    border: 3px solid #32425c;
}

.in-favorites:active {
    border: 3px solid #c1c6ce;
    color: #c1c6ce;
}

/*Стилизация футера*/

.footer-top {
    background-color: #32425c;
}

.footer-bottom {
    font-size: 16px;
    line-height: 18px;
    background-color: #293449;
}

.footer-info, 
.footer-nav, {
    font-size: 18px;
    line-height: 24px;
}

.footer-info, 
.footer-main-nav a,
.footer-socials p {
    color: #ffffff;
}

.main-footer a:hover, 
.footer-bottom a:hover {
    text-decoration: underline;
}

.footer-main-nav a:active {
    color: rgba(255,255,255,0.5);
}

.footer-list-nav a, 
.footer-socials a {
    color: #ffd180;
}

.footer-list-nav a:active {
    color: rgba(255,209,128,0.5);
}

.footer-bottom a:active {
    color: #ee3643;
}

.feedback-btn, 
.credit-btn {
    font-size: 14px;
    line-height: 18px;
    text-transform: uppercase;
    color:#ffffff;
    background-color: #ee3643;
    border: none;
}

.socials-btn li {
    width: 41px;
    height: 42px;
    background-color: #212a3a;
    border-radius: 50%;
}

.socials-btn li:hover, 
.socials-btn li:active {
    background-color: #ee3643;
}

.socials {
    fill: #ffffff;
}









/*Блок с позиционированием*/


/*Верхнее меню пользователя*/
.wrapper {
    max-width: 960px;
    padding-left: 10px;
    padding-right: 10px;
    margin: 0 auto;
}
    
.main-header {
    background-color: #f4f7f9;
    padding-bottom: 60px;
    margin-bottom: 59;
} 

.header-user-interface {
    display: flex;
    min-height: 42px;
    justify-content: space-around;
}

.header-logo {
    padding-left: 56px;
    padding-right: 56px;
    line-height: 42px;
}

.header-search {
    padding-left: 17px;
    line-height: 42px;
}

.user-menu svg {
    margin-right: 15px;
}

.bookmarks {
    padding-left: 18px;
    padding-right: 28px;
    line-height: 42px;
    margin-left: auto;
}

.cart {
    padding-left: 27px;
    padding-right: 32px;
    line-height: 42px;
}

.order {
    padding-left: 22px;
    padding-right: 22px;
    line-height: 42px;
}

/*Середина хедера с контактами и формой входа*/

.header-info-login { 
    display: flex;
    padding: 46px 0 47px 53px;
}

.header-about {
    margin: 0;
    width: 198px;
    margin-right: 60px;
}

.number {
    margin: 0;
    padding: 12px 48px 14px 10px;
    margin-bottom: 6px;
}

.phone-icon {
    margin-right: 35px;
}

.adress {
    margin: 0;
    padding-left: 10px;
}

.user-log {
    margin: 0;
    display: flex;
    margin-left: auto;
}

.login-link {
    padding: 16px 25px 16px 15px;
    margin-right: 10px;
}

.login-icon {
    margin-right: 15px;
}

.reg-link {
    padding: 16px 25px 16px 25px;
}

/*Главное меню*/
.main-menu {
    display: flex;
    min-height: 60px;
}  

.main-menu li {
    display: flex;
    flex: 1;
    align-items: center;
    justify-content: center;
}

/*Main*/

.main-about {
    margin-top: 60px;
    padding-bottom: 54px;
}

/*Карточки*/

.list-1 {
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
}

.list-2 {
    display: flex;
}

.slider-1 {
    display: none; /*Пока спрячем слайдер 1*/
}

.main-slider {
    position: relative;
    width: 620px;
    height: 266px;
}

.main-slider img {
    display: inline-block;
}

.slider-text {
    position: absolute;
    top: 26px;
    left: 24px;
}

.slider-text span {
    margin-top: 10px;
}

.slider-btn-back {
    position: absolute;
    left: 0;
    top: 50%;
    text-decoration: none;
}

.slider-btn-next {
    position: absolute;
    right: 0;
    top: 50%;
}

.main-slider a {
    position: absolute;
    padding: 15px 45px 15px 45px;
    bottom: 22px;
    left: 25px;
    border-radius: 4px;
}

/*Популярные товары*/
.pop-items {
    padding: 25px;
    padding-left: 30px;
    display: flex;
    margin-bottom: 20px;
}

.pop-items h2 {
    display: block;
    margin: 0;
    padding-top: 8px;
}

.pop-items .more {
    padding: 14px 56px 14px 56px;
    margin-left: auto;
    border-radius: 5px;
}

.popular-items {
    display: flex;
    justify-content: space-between;
}

.popular-items li {
    width: 220px;













